.updateUser{
    width: 60%;
    margin: 50px auto;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(0, 0, 0, 0.065);
}

.updateUserForm{
    width: 100%;
    margin-top: 30px;
}

